body
{
    min-width: 1340px;
    margin: 0px;
    padding: 0px;
}
/* common */
.invalid{ border:1px solid #fd6f6f; background: #ffe4e4; }

/* template */
    /* header */
        header {
            background: #222;
            display: block;
            height: 60px;
            margin-bottom: 20px;
            min-width: 1340px;
            position: relative;
        }
        #login-panel {
            bottom: 10px;
            line-height: 40px;
            position: absolute;
            right: 20px;
        }
        #user-info {
            color: #fff;
            left: 20px;
            line-height: 60px;
            position: absolute;
            top: 0px;

        }
        #header-menu {
            bottom: 10px;
            left:150px;
            position: absolute;
        }
        #alert-message {
            position: fixed;
            width: 400px;
            top:5px;
            left: 700px;
            height: 45px;
            z-index: 100;
        }
        #main {
            display: inline-block;
            min-height: 400px;
            width:100%;
        }

    /* footer */
        footer {
            border:1px solid #888;
            border-left:0;
            border-right:0;
            color: #555;
            font-weight: bold;
            position: relative;
            padding: 10px 0;
            text-align: center;
            width: 100%;
        }

    #login-message {
        text-align: center;
    }


/* home */
    #content 
    {
        /*position: relative;*/
        /*margin-left:250px;*/
    }
    article 
    {

        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0);
        border-color: #DDD;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        margin: 0 20px 20px 0px;
        padding: 20px;
        position: relative;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        width: 1000px;
    }

    article > label.date-label
    {
        position: absolute;
        right: 20px;
    }

/* manage */
    /* article */
        .new-btn {
            margin-left: 20px;
        }

    .option-btns {
        margin-bottom: 10px;
    }

